--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
torch==2.13.0+cpu
numpy
pandas
scipy
scikit-learn
rdkit
subword-nmt
wget
requests
matplotlib
lifelines
prettytable
tensorboard
tqdm
Pillow
